<h1><%= @teams[:name] %></h1>
<h2><%= @teams[:motto] %></h2>

<% @heroes.each |team_member| do %>
<h2>Hero Name: <%= team_member[:name] %></h2>
<p>Hero Power: <%= team_member[:power] %></p>
<p>Hero Biography: <%= team_member[:biography] %>></p>
<% end %>
